body {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14px;
    color: #1f1f1f;
}
a {
    color: rgba(31,31,31,.5);
}
a:hover {
    color: rgba(31,31,31, 1);
}
p {
	font-size: 16px;
    line-height: 1.6em;
    letter-spacing: .5px;
    font-weight: 300;
    font-style: normal;
    color: #1f1f1f;
}
.page_title {
    font-family: Arial;
    font-size: 30px;
    line-height: 1.3em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
}
h2 {
	font-weight: 700;
    font-family: Arial;
}
h3 {
	font-size: 16px;
    line-height: 1.3em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    font-style: normal;
    font-family: Arial;
}
h4 {
	font-size: 16px;
    line-height: 1.3em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    font-style: normal;
}
.summary-title-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 14px;
    color: #1f1f1f;
}
.summary-text {
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;   
}
.summary-text-date {
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;   
    color: rgba(31,31,31,.5); ;
}
header {
  	background-image: url('/images/header_bg.png');
  	padding: 0 20px;
 	height: 200px;
    background-size: cover;
    background-position: center center;
}
.bottom_spacer {
    margin-bottom: 150px;
}
#page {
	moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    margin: auto;
    max-width: 1020px;
    padding: 96px 32px;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
	}
.navbar-default { 
	background-color: transparent;
	border: none;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover { 
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	 font-weight: 300;
	 font-style: normal;
	 padding: 10px;
}
.navbar-right { 
    margin-top: 18px;
    }
#boxed_link {
	border: 2px solid #fff;
    color: #fff;
    padding-left:20px;
    padding-right:20px;
}
#boxed_link:hover {
    border: 2px solid #fff;
    color: #1f1f1f;
    background-color: #fff;
}
.boxed_blk_button { 
border: 2px solid #1f1f1f;
    color: #1f1f1f;
    padding: 20px 35px;
    color: #1f1f1f;
}
.boxed_blk_button:hover { 
background-color: #1f1f1f;
    color: #fff;
    color: #fff;
    text-decoration: none;
}
#unboxed_link {
	padding: 12px 35px;
}
.text_center {
	text-align: center;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
hr {
	border-style: none;
    border-width: 0;
    margin: 32px 0;
    color: rgba(31,31,31,.15);
    background-color: rgba(31,31,31,.15);
    border-top: 1px solid rgba(31,31,31,.15);;
}
.spacer {
	margin-top:50px;
}
strong {
    font-weight: bold;
}
.navbar-default{
    background:transparent;
    border:none !important;
}
.navbar-nav>li>a:hover{
    color:#1a1a1a;
} 
.collapse.in{
    
    background-color:#f0f0f0 !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
.spacer{
   background-color:#888;   
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #333;
}
.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
}
.newsletter {
    background-color: #f0f0f0;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.social_box {
    margin-top: 15px;
}

.social_box i {
        background-color: #1f1f1f;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    margin: 10px;
}
.social_box i:hover {
    background-color: #444;
    color: #fff;
    
}
.footer {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #201a16;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #fff;
    margin-left: 0px;
    margin-right: 0px;
}
.footer i {
        background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #333;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    margin: 10px;
}
.footer i:hover {
    background-color: #333;
    color: #fff;
} 
.footer p {
    color: rgba(255,255,255,.4);
}
.footer a {
    color: rgba(255,255,255,.4);
}

.footer a:hover {
    color: rgba(255,255,255,.8);
}
input {
    padding: 1em;
    background: #fff;
    border: 1px solid rgba(0,0,0,.12);
    font-family: inherit;
    font-size: 15px;
    line-height: normal;
    outline: none;
    margin: 5px;
}
input[type=submit] {
    background-color: #000;
    color: #fff;
    padding-left: 20px;
    padding-right:20px;
}
input[type=submit]:hover {
    background-color: #333;
}
.divider {
    padding-left: 15px;
    padding-right: 15px;
}
.testimonial {
    font-style: italic;
}
.client_logo {
    width:14.2%;
    padding: 1%;
    display: inline-block;
    float: left;
}
@media only screen and (max-width: 640px) {
    .client_logo {
    width:48%;
    padding: 1%;
    display: inline-block;
    float: left;
}
}
