header {
  	background-image: url('/images/header_bg.png');
  	padding: 0 20px;
 	height: 200px;
    background-size: cover;
    background-position: center center;
}
.navbar-default { 
	background-color: transparent;
	border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "futura-pt";
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    background-color: transparent;
    }
.navbar-right { 
    margin-top: 10px;
    }
