body {
    font-family: Arial;
    font-size: 14px;
    color: #1f1f1f;
}
p {
	font-size: 16px;
    letter-spacing: .5px;
    font-weight: 300;
    font-style: normal;
    color: #1f1f1f;
}
h2 {
	font-weight: 700;
}
h3 {
	font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    font-style: normal;
}
h4 {
	font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    font-style: normal;
}
header {
  	background-image: url('/images/header_bg.png');
  	padding: 0 20px;
 	height: 200px;
    background-size: cover;
    background-position: center center;
}
#page {
	moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    margin: auto;
    max-width: 1020px;
    padding: 96px 32px;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
	}
.navbar-default { 
	background-color: transparent;
	border: none;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover { 
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	 font-weight: 300;
	 font-style: normal;
	 padding: 10px;
}
.navbar-right { 
    margin-top: 18px;
    }
.boxed_link {
	border: 2px solid #fff;
    color: #fff;
}
#unboxed_link {
	padding: 12px 35px;
}
.text_center {
	text-align: center;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
hr {
	border-style: none;
    border-width: 0;
    margin: 32px 0;
    color: rgba(31,31,31,.15);
    background-color: rgba(31,31,31,.15);
    border-top: 2px solid rgba(31,31,31,.15);;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 0px;
	padding-right:0px;
}
.spacer {
	margin-top:50px;
}
strong {
    font-weight: bold;
}